<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Maintenance</title>
  <meta name="robots" content="none">
  <style type="text/css">
    body {
      width: 400px;
      margin: 100px auto;
      font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    }

    h1 {
      font-weight: 300;
    }
  </style>
</head>
<body>

<h1>Ooops</h1>
<p>BoloBet is down for maintenance at the minute but will be back up and running shortly.</p>
<p>Visit us again in a couple of hours and we'll be happy to help!</p>


<h1>哎哟！</h1>
<p>BoloBet现正进行系统升级维修，并在稍后恢复正常服务。</p>
<p>请在几个小时后再次访问我们的网站，我们将竭诚为您服务。</p>


<h1>哎喲！</h1>
<p>BoloBet現正進行系統升級維修，並在稍後恢復正常服務。</p>
<p>請在幾個小時後再次訪問我們的網站，我們將竭誠為您服務。</p>

</body>
</html>
