description = "Register layout"

[geoSettings]

[localePicker]
forceUrl = 1

[staticPage]

[boloSession]

[boloAccount]
redirect="/registration-done"
==
<?php
function onStart(){
    $user = Auth::getUser();
    if($user)
        return Redirect::to(\Cms\Classes\Theme::getActiveTheme()->after_login_redirect);

}

?>
==
{variable name="footerLinks" label="Footer Links" tab="Extra" type="text"}default-footer-links{/variable}

{variable name="nationality_opts" label="Nationality Opts." tab="Reg Form" type="textarea"}China
Taiwan
{/variable}

{variable name="country_opts" label="Country Opts." tab="Reg Form" type="textarea"}China
Taiwan
{/variable}

{variable name="currency_opts" label="Currency Opts." tab="Reg Form" type="textarea"}CNY
USD
{/variable}

{variable name="how_hear_opts" label="How Hear Opts." tab="Reg Form" type="textarea"}Friend
Referral
Internet Search
Other
{/variable}

{variable name="sec_question_opts" label="Security Question Opts." tab="Reg Form" type="textarea"}Dog Name
Mother Name
{/variable}


{% put bodyClass %} register{% endput %}
{% partial 'site/header' %}
<section id="register" class="block form-block" style="background-image: url({{ 'assets/images/background_home_1.jpg'|theme }});">
    <article class="container">
        <div class="header">
            {% page %}
        </div>
        {% partial 'site/register-form' %}
        <div class="footer">
            {% placeholder registerFooter title="Form Footer" type="html" %}
        </div>
    </article>
</section>
{% partial 'site/footer' %}
