$editor_back: 0;

@import "mixins";
@import "editor";

/* Content Editor align styles */
img.fr-dib {
    margin: 5px auto;
    display: block;
    float: none;
    vertical-align: top;
    position: relative;
    max-width: 100%;
}

img.fr-dib.fr-fir {
    margin-right: 0;
}

img.fr-dib.fr-fil {
    margin-left: 0;
}

img.fr-dii {
    position: relative;
    display: inline-block;
    float: none;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
    max-width: calc(90%);
}

img.fr-dii.fr-fir {
    float: right;
    margin: 5px 0 5px 5px;
    max-width: calc(95%);
}

img.fr-dii.fr-fil {
    float: left;
    margin: 5px 5px 5px 0;
    max-width: calc(95%);
}


/* Custom user styles */
.logged-in .public-only{
    display: none;
}

.gallery{
    text-align: center;
    position: relative;
    vertical-align: middle;


    a {
        display: inline-block !important;
        width: 20%;
        position: relative;
        margin: 10px;
        vertical-align: middle;
    }

    img{
        width: 100% !important;
        height: auto;
        display: inline-block !important;
        margin: 0 !important;
        float: none;
        vertical-align: middle;
    }
}
